# Prevent student's submission upload

.vscode/

tmp*
.runlock

*.zip
reports/not_submitted
reports/submitted
outputs/
student_submission/*/
result.csv
result_score.csv
run_log.txt
*_submitted.txt
submission_by_problem/*/
result_*.md
result_*.txt
result_*.csv
run_log_*.txt
*.rar
*.7z

grading_cases/*.cpp
grading_cases/*.h
grading_cases/*.out
grading_cases/*.txt

hw_*
student_list*
user_list*
temp*

./.DS_Store
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store
*.DS_Store*

tmp/

__pycache__/

# Exceptions

